#detailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#detailContainer .heroDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

#detailContainer .heroDetails img {
  max-width: 480px;
}

#detailContainer .heroDetails .heroDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: 16px;
}
#detailContainer .heroDetails .heroDescription .heroDescriptionTitle {
  font-size: 32px;
  margin-bottom: 16px;
}

.heroDataField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
.heroDataField strong {
  font-size: 24px;
  margin-bottom: 4px;
}
